.DS_Store
.build
Packages
*.xcodeproj
xcuserdata/
DerivedData/
.netrc
.swiftpm
Package.resolved

# For the VS Code fans.
.vscode

# We don't commit our .doccarchive files to save space.
docs/
*.doccarchive
